@import "variables";
@import "mixins";

/* Overrides */
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: $main-color;
  border-color: $main-color;
  border-radius: 100px;
}

/* Nav */
nav {
  @include secondary-ui();
  .container {
    margin-left: 24px;
    padding: 0px;
  }
  ul {
    list-style: none;
    margin: 0;
  }
  li {
    float: left;
    margin: 0;
  }
  a {
    display: inline-block;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
  }  
}

/* Sections */
.section {
  padding: 8rem 0 6rem;
  text-align: center;
  h3, .description {
    margin-bottom: 4rem;
  }
}

/* Banner */
.banner {
  max-height: 480px;
  overflow: hidden;
  display: none;
  img {
    height: auto;
    width: 100%;
  }
}

/* Larger than "phablet" */
@media (min-width: 550px) {
  .banner {
    display: block;
  }
  .section {
    padding: 12rem 0 10rem;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  .section {
    .description {
      max-width: 75%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}